.perfil{
    width: 800px;
    height: 600px;
    padding-top: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #072354;
    border-radius: 40px;
}
    

.perfil ul{
    font-size: 25px;
    color: white;
    font-family:  'PaytoneOne', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: black 0.1em 0.1em;
    letter-spacing: 7px;
    display: flex;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    text-transform: uppercase;
}

.perfil ul li{
    border-radius: 10px;
    padding: 0 15px;
    width: 780px;
    height: 50px;
    position: relative;
    align-items: center;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0px 1px 10px black;
}
.perfil ul li .icon-perfil{
    position: absolute;
    right: 0;
    padding-right: 15px;
    font-size: 35px;
    color: yellow;
}