
.area-feedback-sections{
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #072354;
    border-radius: 40px;
  }

.area-info{
    width: 580px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.slogam-feedback{
    margin-top: 10px;
    text-align: justify;
    font-size: 25px;
    color: #d1d6e4;
    font-family:  'PaytoneOne', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 10px;
    background-color: #1d57bb46;
}

.img-feedback{
    width: 350px;
    height: 300px;
}

.area-feedback{
    width: 500px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.divisao{
    padding: 30px;
}

.area-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.radio{
    font-family:  'Montserrat', sans-serif;
    font-weight: 500;
}

.img-robo{
  height: 250px;
  width: 250px;
}

.titulo-feedback{
    text-align: center;
    font-size: 30px;
    color: yellow;
    font-weight: 500;
    font-family:  'PaytoneOne', sans-serif;
    letter-spacing: 2px;;
    text-shadow: black 0.1em 0.1em;
}
.div-titulo-icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.avaliacao-feedback{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
    accent-color: yellow;
    
}

.avaliacao-feedback div{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.teste{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 150px;
    
}

.teste img{
    width: 200px;
    height: 150px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.form textarea{
    width: 400px;
    height: 200px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    display: block;
    border: 1px solid #0B1E3F;
    font-size: 15px;
    font-weight: 600;
    font-family:  'Montserrat', sans-serif;
}

.form textarea:focus{
    background:  aliceblue;
}

.form textarea::placeholder{
    color: black;
}

.button-feedback{
    width: 170px;
    height: 50px;
    font-size: 22px;
}

.button-feedback:hover{
        background: #0B1E3F;
        color: aliceblue;
    }

.icon-amarelo{
    color: yellow;
}