*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-login-style{

    display: flex;
    align-items: center;
    height: 70px;
    background: #072354;
    color: white;
    text-align: start;
    

}