.botao-voltar-div{
    position: absolute;
    top: 70px;
    left: 180px;
}

.botao-voltar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #072354;
    border: 2px solid #1D57BB;
    box-shadow: 0 5px 0 #aaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    gap: 6px;
    padding: 5px;
    font-family: Montserrat;
    font-weight: 700;
    cursor: pointer;
}


.botao-voltar:active{
    box-shadow: none;
    transform: translateY(5px);
}

.botao-voltar:hover{
    background: white;
    color: #0B1E3F;
}
