.modal-header{

    width: 100%;
    text-align: end;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 10px;

}

.container-modal{
    position: fixed;
    top: 50%;
    z-index: 9999;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 100px;
    backdrop-filter: blur(30px);
    box-shadow: 35px 35px 35px 35px rgba(0, 0, 0, 0.089);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#div-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}

#div-modal input{
    width: 100%;
    height: 18px;
    border-radius: 5px;
    padding: 5px;
}

#div-modal input + input {

    margin-top: 15px;

}

#modal-bts{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border:none;
    background-color: black;
    color:white;
    cursor: pointer;
    text-align: center;

}

#bt-fechar{
    background-color: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    cursor: pointer;

}

