.space-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.164);
    color:white;
}

.infos-card-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    border-radius: 55px;

    & .about-cards {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: max-content;
        gap: 16px;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
    }

    h4 {
        width: 50%;
        background-color: #072354;
        border-radius: 12px;
        text-align: center;
    }
}

#sobre-projeto{
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 0px 14px;
    gap: 15px;
}



.div{
    display: flex;
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 8000px;
    background-color: #072354;
}

#div-text{

    width: 100%;
    background-color: aliceblue;

}