.area-feedback-sections{
    width: 940px;
    height: 620px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
<<<<<<< HEAD
    background-color: #aaaa;
=======
    background-color: #aaaaaa60;
    border-radius: 20px;
>>>>>>> efb60cd478c040418f9fe5a90dcf5dd43b6dcc39
    box-shadow:4px 4px 12px black;  
  }

.area-info{
    width: 500px;
    height: 620px;
<<<<<<< HEAD
    background: #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div-mensage{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
=======
    background-color: #0b1e3fb4;
    border-radius: 20px 0px 0px 20px;
>>>>>>> efb60cd478c040418f9fe5a90dcf5dd43b6dcc39
}

.mensage{
    padding: 0px 0px 0px 30px;
    color: #1D57BB;
}

.linha{
    align-items: center;
    width: 440px;
    margin-left: 30px;
}
.slogam-feedback{

    font-size: 22px;
    text-align: justify;
    padding: 0px 30px 30px 30px;
    color: #0B1E3F;
}

.area-feedback{
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 20px;
    justify-content: center;
}
.area-form{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.062);
    flex-direction: column;
    border-radius: 15px;
    gap: 20px;
    align-items: center;
}

.img-robo{
  height: 250px;
  width: 250px;
}

.titulo-feedback{
 text-align: center;
 padding: 0;
 font-size: 30px;
 color: #0B1E3F;
}

.avaliacao-feedback{
    width: 450px;
    height: 100px;
}

.form textarea{
    width: 350px;
    height: 200px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    display: block;
    border: 1px solid #0B1E3F;
    font-size: 15px;
    font-family:'Poppins', sans-serif;;
}

.form textarea:focus{
    background: #e0e0f8;
}

.button-feedback{
<<<<<<< HEAD
    width: 350px;
=======
    font-size: 17px;
    width: 200px;
>>>>>>> efb60cd478c040418f9fe5a90dcf5dd43b6dcc39
    height: 40px;
    font-size: 1.2em;
    padding: 0.2em 0.6em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

.button-feedback:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

