.area-feedback-sections{
    width: 940px;
    height: 620px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #aaaaaa60;
    border-radius: 20px;
    box-shadow:4px 4px 12px black;  
}

.area-info{
    width: 450px;
    height: 620px;
    background-color: #0b1e3fb4;
    border-radius: 20px 0px 0px 20px;
}

.slogam-feedback{
    font-size: 20px;
    text-align: justify;
    padding: 30px;
    color: white;
}

.area-feedback{
    width: 450px;
    height: 580px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.area-form{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.062);
    flex-direction: column;
    border-radius: 15px;
    gap: 20px;
}

.titulo-feedback{
 text-align: center;
 font-size: 30px;
}

.aa{
    width: 450px;
    height: 220px;
    border: 1px solid black;
}

.form textarea{
    border-radius: 20px;
    width: 450px;
    padding: 10px;
}



.button-feedback{
    font-size: 17px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
}