.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: end;
    height: 70vh;
    color: rgba(255, 255, 0, 0.527);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}