.infomacoes-jogo-1{
    width: 1000px;
    height: 230px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-direction: column;
}

.titulo-nome-jogo{
    font-size: 40px;
    color: white;
    line-height:40px;
    font-weight: 500;
    font-family: roboto;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.flex-nivel{
    display: flex;
}

.info-jogo-1{
    color: white;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
    color: rgb(139, 166, 255);
    font-family: nunito;
    font-weight: 800; 
    width: 700px;
    padding: 10px 20px 10px 20px;
}

.img-jogo-nivel{
    width: 500px;
    height: 150px;
    border: 1px solid white;
}
