.infomacoes-jogo-1{
    width: 1200px;
    height: 230px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
}

.titulo-nome-jogo{
    font-size: 30px;
    color: yellow;
    font-family: roboto;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    justify-content: center;
}

.flex-nivel{
    display: flex;
    gap:70px;
}

.info-jogo-1{
    color: aliceblue;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
    color: rgb(139, 166, 255);
    font-family: nunito;
    font-weight: 800; 
    width: 800px;
    padding: 10px 20px 10px 20px;
}

.img-jogo-nivel img{
    width:300px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 60px
}
