*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-header{
    position: relative;
    background-color: #072354;
}

nav{
    width: 100%;
    height: 40;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 3px;
   
}



.navbar-logo-text{
    width: 200px;
    transition: transform 0.5s;
}

.navbar-logo-text:hover{
    transform: scale(1.1);
}

.navbar-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;

}

.navbar-link{
    text-decoration: none;
    border-radius: 5px;
    background-color: #072354;
    padding: 15px ;
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}

.navbar-link::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: yellow;
    border: 4px;
    scale: .1;
    transform-origin: center;
    transition: scale .25s;
}

.navbar-link:hover::before{
    scale: 1;

}

.navbar-link:hover{
    color: yellow;  
    transition: 0.3s all;
}

.navbar-link:active {
    box-shadow: box-shadow 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);

}

.navbar-logo{
    height: 40px;
    transition: transform 0.5s;
}

.navbar-logo:hover{
    transform: scale(1.2);
}
