.container-top{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Pausebutton{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.top-message{
  background-color: antiquewhite;
  width: 95px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  margin-top: 12px;
  margin-left: 560px;
}

.Tempo{
  font-size: 30px;
  color: #dddbd6;
  border-radius: 30px;
  margin-top: 0px;
  justify-content: center;
  margin-top: 12px;
  margin-left: 525px;
}
.telgame{
display: flex;
flex-direction: column;
gap: 10px;
}

.container-center,
.container-center2{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: auto;
}
  
video {
background-color: #dddbd6;
display: flex;
width: 250px;
height: 400px;
margin: auto;
justify-content: center;
align-items: center;
border-radius: 25px;
border: 3px solid rgb(73, 70, 70);
position: absolute;
z-index: 1;
}

.Grade-Buttons,
.Grade-Buttons2 {
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
}
  
.Grade-Buttons button,
.Grade-Buttons2 button {
width: 130px;
height: 130px;
background-color: #006666; 
color: white;
border-radius: 20px;
border: 3px solid black;
margin: 0 10px;
cursor: pointer;
}


.pause-state {
  background-color: #363532;
  display: flex;
  width: 300px;
  height: 450px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 3px solid rgb(73, 70, 70);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  transform: translate(490px, 0px);
  }

  .fim{
    background-color: rgb(62, 62, 223);
    border: solid rgb(197, 194, 194);
    border-radius: 8px;
    width: 200px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }


  .fim-game {
    background-color: #363532;
    display: flex;
    width: 400px;
    height: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid rgb(73, 70, 70);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 3;
    transform: translate(490px, 0px);
    }
    