.title-footer{
    font-size: 8px;
    color: white;
    height: 50px;
    width: 100%;
    background-color: #072354;    
    font-style: italic;  
    padding-top: 6px;
    line-height: 35px;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    height: 40px;
    transition: transform 0.5s;
}
