.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessao-info{
    width: 1250px;
    height: 335px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}      

.div-info{
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.sessao-info-subtitulo{
    color: yellow;
    font-weight: 700;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.sessao-info-titulo{
    font-size:45px;
    color: aliceblue;
    line-height:40px;
    font-weight: 500;
    font-family: roboto;
    letter-spacing: 2px;
}

.sessao-info-texto{
    color: aliceblue;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
    color: #BcE5ff;
    font-family: nunito;
    font-weight: 800;  
}

.image-tela-inicial{
    margin-top: 40px;
    width: 450px;
    height: 450px;
}

.palavras-importantes{
    font-weight: 900;
    color: rgb(238, 238, 161);
}

.section-button-menu{
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
  
}

.cards-button-menu{
    display: flex;
    width: 750px;
    border-radius: 20px;
    padding: 20px;
    gap: 45px;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.alfabeto-libras{
    width: 400px;
    border: 1px solid blue;
    height: 270px;
 
}
