.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sessao-info{
    width: 1200px;
    height: 335px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}      

.div-info{
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.sessao-info-subtitulo{
    color: yellow;
    font-weight: 700;
    text-transform: uppercase;
    font-family:  'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.sessao-info-titulo{
    font-size:45px;
    color:  #0B1E3F;
    line-height:40px;
    font-weight: 500;
    font-family: roboto;
    letter-spacing: 2px;
}

.sessao-info-texto{
    color: aliceblue;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
    color: #BcE5ff;
    font-family: nunito;
    font-weight: 800;  
}

.image-tela-inicial{
    margin-top: 40px;
    width: 450px;
    height: 360px;
}

.palavras-importantes{
    font-weight: 900;
    color: rgb(238, 238, 161);
}

.section-button-menu{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-bottom: 5px;
}

.cards-button-menu{
    display: flex;
    width: 750px;
    border-radius: 20px;
    padding: 20px;
    gap: 45px;
    align-items: center;
    justify-content: center;
    background-color: #072354;
}

.alfabeto-libras{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6da1c2;
    box-shadow: 4px 4px 12px black;
}

.pontos{
    width: 350px;
    background: yellow;
    border-radius: 15px 15px 0px 0px ;
    display: flex;
    height: 25px;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    color: #1D57BB;

}
.div-alfabeto{
    display: flex;
    flex-wrap: wrap;
    background: #6da1c2;
    width: 338px;
    border-radius: 0px 0px 15px 15px ;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.alfabeto-menu img{
    width: 80px;
}

.div-alfabeto-botao{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.div-alfabeto-botao h6{
    font-size: 20px;
    font-family:  'PaytoneOne', sans-serif;
    letter-spacing: 1px;
    color: #0B1E3F;
}

.alfabeto-botao{
    color: #1D57BB;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #1D57BB;
    box-shadow: 0 5px 0 #1D57BB;
    display: flex;
    align-items: center;
    justify-content: center;
}


.alfabeto-botao:active{
    box-shadow: none;
    transform: translateY(5px);
}

.alfabeto-botao:hover{
    background: #0B1E3F;
    color: white;
}
